/* Dropdown
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/dropdown/dropdown.variables.scss */
.dropdown-menu.show {
  box-shadow: $eos-dropdown-shadow;
}

.show .dropdown-toggle {

  &.btn-secondary {
    background-color: transparent;
    border-color: $eos-btn-secondary-dropdown-color;
    color: $eos-btn-secondary-dropdown-color;

    &:focus,
    &.focus {
      background-color: transparent;
      border-color: $eos-btn-secondary-dropdown-color-active;
      box-shadow: none;
      color: $eos-btn-secondary-dropdown-color-active;
    }
  }

  &.btn-primary {
    background-color: $eos-btn-primary-dropdown-color;
    border-color: $eos-btn-primary-dropdown-color;
    color: $eos-btn-primary-dropdown-text-color;

    &:focus,
    &.focus {
      background-color: $eos-btn-primary-dropdown-color-active;
      border-color: $eos-btn-primary-dropdown-color-active;
      box-shadow: none;
      color: $eos-btn-primary-dropdown-text-color;
    }
  }

  &.btn-danger {
    background-color: $eos-btn-danger-dropdown-color;
    border-color: $eos-btn-danger-dropdown-color;
    color: $eos-btn-danger-dropdown-text-color;

    &:focus,
    &.focus {
      background-color: $eos-btn-danger-dropdown-color-active;
      border-color: $eos-btn-danger-dropdown-color-active;
      box-shadow: none;
      color: $eos-btn-danger-dropdown-text-color;
    }
  }
}

.dropdown-toggle:after {
  content: none;
}
