extends ../layouts/layout-main

block content
  .container.loading-patterns
    section
      h1
        | Loading
      p.subheadline
        | A comprehensive guide on how to consistently display loading content in an application, section, or component.
    hr
    article
      h3
        | Full section loading
      p
        | When the load time of a section is longer than 1 second, use a solid white
        | overlay with a 48px loading icon in the center.
        | Once loading has completed, fade out the overlay displaying the content.
      .loading-gif-wrapper.margin-bottom-xxxl
        img.img-fluid.margin-top-xxxl.gif-demo-wrap(src='/images/patterns/full-section-loading.gif', alt='Inline loading')
    article
      h3
        | Component
      p
        | When loading a component, display the container outline adding a solid white
        | overlay. The 36px loading icon  should be placed at the center
        | of the component. When the component has loaded fade out the overlay, displaying the content.
      .loading-gif-wrapper.margin-bottom-xxxl
        img.img-fluid.margin-top-xxxl.gif-demo-wrap(src='/images/patterns/component-loading.gif', alt='Inline loading')

    article
      h3
        | Inline loading
      p
        | When the user clicks on the action and data needs to be processed, show
        | the 16px animated icon inside the element. Once the action has finished,
        | display the check mark to show that the action completed successfully or the cross mark if something went wrong.
      .loading-gif-wrapper.margin-bottom-xxxl
        img.img-fluid.margin-top-xxxl.gif-demo-wrap.gif-demo-wrap-shadow.w-75(src='/images/patterns/table.gif', alt='Inline loading')
    article
      h3
        | Animated icon code snippet
      p
        | Use the loading icon from the eos-icons library, to indicate the loading state of an element, component, or page.
      p
        | Once the loading is complete, use the CSS property from #[strong CSS code snippet]
        | to fade out the loading icon overlay and display the content.

      ul.nav.nav-pills.nav-fill(role='tablist')
        li.nav-item(role='presentation')
          a.nav-link.active(href='#loading-demo', aria-controls='loading-demo', role='tab', data-toggle='tab')
            | HTML snippet
        li.nav-item(role='presentation')
          a.nav-link(href='#loading-demo-scss', aria-controls='loading-demo-scss', role='tab', data-toggle='tab')
            | CSS code snippet
      .tab-content
        #loading-demo.tab-pane.active(role='tabpanel')
          .implementation-example
            .result
              i.eos-icons.eos-icon-loading.md-48
                | animated_icon

            .css-snippet-container
              .scss-snippet-btns.no-top-margin
                i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                  | content_copy
              pre.prettyprint.js-snippet-code
                code
                  | &lt;i class='eos-icons eos-icon-loading'&gt;&lt;/i&gt
        #loading-demo-scss.tab-pane(role='tabpanel')
          .css-snippet-container
            .scss-snippet-btns.no-top-margin
              i.single-icon.eos-icons.md-18.md-light.js-copy-snippet
                | content_copy
            pre.prettyprint.js-snippet-code
              code
                | transition: all 0.5s ease-out
