/* Steps progress bar variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/eos-base/variables/branding.scss */
$eos-spb-color: $eos-bc-white;
$eos-spb-color: $eos-bc-white;
$eos-spb-after: $eos-bc-gray-200;
$eos-spb-wrapper-title: $eos-bc-gray-400;
$eos-spb-wrapper-background-span: $eos-bc-gray-300;
$eos-spb-first-circle-color: $eos-bc-red-400;
$eos-spb-second-circle-color: $eos-bc-cerulean-400;
$eos-spb-third-circle-color: $eos-bc-green-400;
$eos-spb-fourth-circle-color: $eos-bc-violet-400;

/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-spb-after-height: $eos-xs - 2;
$eos-spb-after-bottom: 20px;
$eos-spb-after-bottom-selected: 27px;
$eos-spb-wrapper-size: $eos-xxl + 2;
$eos-spb-wrapper-size-selectred: $eos-xxxl - 2;
$eos-spb-wrapper-size-span: $eos-xl - 4;
$eos-spb-wrapper-selected-size: $eos-xxl - 8;
$eos-spb-size: $eos-xxl + 2;
$eos-spb-wrapper-span-margin-top: $eos-xs;
$eos-spb-wrapper-after-left: 50%;
$eos-spb-z-index: $eos-zindex-negative;
